.header {
  height: 36px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 13px;
}

.menu li {
  display: inline;
  text-decoration: none;
  color: black;
  padding: 4px 8px;
}

.menu a {
  text-decoration: none;
}

.menu li:hover {
  background-color: #F4F4F4;
  border-radius: 7px;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signin {
  text-decoration: none;
  color: #2B7EFF;
  padding: 4px 8px;
}

.signin a {
  text-decoration: none;
}

.login a {
  width: 48px;
  height: 20px;
  color: white;
  background-color: #005ff9;
  border-radius: 7px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
}

.mainbody {
  display: flex;
  justify-content: space-around;
}

.mailaccount {
  width: 300px;
  height: 317px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  width: 300px;
  height: 68px;
  background-color: #005ff9;
  border-radius: 10px 10px 0 0;
}

.logo img {
  width: 175px;
  height: auto;
}
