.pics {
  height: 700px;
  width: 935px;
  background-color: #FFA896;
  margin: 0 auto; /*element in center*/
}

.PicsLine {
  height: 293px;
  width: 935px;
  background-color: #FFA896;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pic {
  height: 293px;
  width: 293px;
  background-color: #FFC300;
}

img {
  width: 100%;
  height: 100%;
}

.second {
  margin: 0 auto;
  width: 935px;
  height: 53px;
  background-color: #ffe7b8;
  display: flex;
  justify-content: center;
}

.pub {
  height: 18px;
  width: 99px;
}
