.user {
  height: 150px;
  width: 935px;
  background-color: #F9F9F9;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
    margin-bottom: 10px;
}

.pfpMarg {
  width: 291.67px;
  height: 159px;
  display: flex;
  justify-content: center;
}

.pfp {
  height: 150px;
  width: 150px;
  background-color: #F9F9F9;
  justify-content: center;
}

.username {
  height: 30px;
  width: 613.33px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: flex-start;
}

.name {
  height: 30px;
  width: 100px;
  background-color: #F9F9F9;
}

.userstats {
  height: 18px;
  width: 613.33px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-evenly;
}

.namebio {
  height: 18px;
  width: 613.33px;
  background-color: #F9F9F9;
}

.linkbio {
  height: 18px;
  width: 613.33px;
  background-color: #F9F9F9;
  font-size: 15px;
}

.pics {
  height: 700px;
  width: 935px;
  background-color: #F9F9F9;
  margin: 0 auto; /*element in center*/
}

.PicsLine {
  height: 293px;
  width: 935px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pic {
  height: 293px;
  width: 293px;
  background-color: #F9F9F9;
  border-radius: 150px;
}

img.pfp {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  justify-content: center;
}

img.pf {
  width: 293px;
  height: 293px;
}

.second {
  margin: 0 auto;
  width: 935px;
  height: 53px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
}

.pub {
  height: 18px;
  width: 99px;
}

button {
  border-radius: 50px; /*doesn't work*/
  width: 104.64px;
  height: 30px;
  background-color: #1C98FF;
  text-align: center;
  color: white;
  font-size: 24px;
}
