.user {
  height: 150px;
  width: 935px;
  background-color: #F9F9F9;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
    margin-bottom: 10px;
}

.instlogo img {
  width: 150px;
  height: 150px;
}

.pfpMarg {
  width: 291.67px;
  height: 159px;
  display: flex;
  justify-content: center;
}

.pfp {
  height: 150px;
  width: 150px;
  background-color: #F9F9F9;
  justify-content: center;
}

.username {
  height: 30px;
  width: 613.33px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: flex-start;
}

.name {
  height: 30px;
  width: 100px;
  background-color: #F9F9F9;
}

.userstats {
  height: 18px;
  width: 613.33px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-evenly;
}

.namebio {
  height: 18px;
  width: 613.33px;
  background-color: #F9F9F9;
}

.linkbio {
  height: 18px;
  width: 613.33px;
  background-color: #F9F9F9;
  font-size: 15px;
}

.pics {
  width: 935px;
  background-color: #F9F9F9;
  margin: 0 auto; /*element in center*/
}

.PicsLine {
  height: 293px;
  width: 935px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

*{box-sizing: border-box;}

.container {
  position: relative;
  width:50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding; 2-ox;
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay span {
  margin-right: 30px;
}

.overlay span:last-child {
  margin-right:0;
}

.container:hover .overlay {
  opacity: 0.5;
}

.pic {
  height: 293px;
  width: 293px;
  background-color: #F9F9F9;
  border-radius: 150px;
}

img.pfp {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  justify-content: center;
}

img.pf {
  width: 293px;
  height: 293px;
}

.second {
  margin: 0 auto;
  width: 935px;
  height: 53px;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
}

.pub {
  height: 18px;
  margin-left: 15px;
}
.pub:first-child {
  margin-left: 0;
}

button {
  border-radius: 50px; /*doesn't work*/
  width: 104.64px;
  height: 30px;
  background-color: #1C98FF;
  text-align: center;
  color: white;
  font-size: 24px;
}

p {
  font-family: sans-serif;
  font-size: 15px;
}

.whole {
  width: 915px;
  height: 450px;
  border: 1px;
  border-style: solid;
  border-color: #D8D8D8;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pic {
  width: 580px;
  height: 450px;
}

img.postpic {
  width: 100%;
  height: 100%;
}

.info {
  width: 335px;
  height: 450px;
  border: 1px;
  border-style: solid;
  border-color: #D8D8D8;
}

.pfp {
  width: 42px;
  height: 42px;
  border-radius: 150px;
  margin: 0 8px;
  margin-top: 10px;
}

.nametext {
  margin: 0 8px;
}

.verify {
  width: 12px;
  height: 12px;
  margin: 0 5px;
}

.follow {
  margin: 0 5px;
  color: #57B2FF
}

.name {
  width: 334px;
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: #D8D8D8;
}

.etc {
  width: 24px;
  height: 24px;
  margin-left: 28px;
  margin: auto;
}

.commentsection {
  height: 224px;

}

.picdescription {


}

.descriptiontext {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ibuttons {
  display: flex;
  justify-content: space-between;
}

.allbuttons {
  display: flex;
  justify-content:  space-around;
  width: 120px;
  height: 40px;
}

.plusbutton {
  width: 24px;
  height: 40px;
  margin: auto;
}

.plusbutton img {
  width: 24px;
  height: 24px;
}

.firstcomment {
  width: 289px;
  height: 47px;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.accpic {
  width: 42px;
  height: 42px;
  border-radius: 150px;
}

.icon img {
  width: 24px;
  height: 24px;
}

.saveicon img {
  width: 24px;
  height: 24px;
}

.likes {
  width: 334px;
  height: 18px;
}

.time {
  width: 334px;
  height: 19px;
}

.signin {
  width: 334px;
  height: 56px;
  border: 1px;
  border-style: solid;
  border-color: #D8D8D8;
}

.signin span {
  color: #9C9C9C;
}

.hide {
  display: none;
}
